<section class="hero section dark-background" id="hero">
<img alt="" class="" data-aos="fade-in" src="assets/img/hero-bg.jpg"/>
<div class="container" data-aos="fade-up" data-aos-delay="100">
<h2>Yiğit Küçükçınar</h2>
<p>
            I'm
            <span class="typed" data-typed-items="Java Developer, Backend Engineer, Underwater Photographer, 3 Star Diver, Dad">Java Developer</span><span aria-hidden="true" class="typed-cursor typed-cursor--blink"></span><span aria-hidden="true" class="typed-cursor typed-cursor--blink"></span>
</p>
</div>
</section>