<section class="portfolio section light-background" id="portfolio">
<div class="container section-title" data-aos="fade-up">
<h2>Underwater Portfolio</h2>
<p>
      A visual space for my underwater photography. Replace the image files below with your own dive photos and the gallery will be ready.
    </p>
</div>
<div class="container">
<div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
<ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
<li class="filter-active" data-filter="*">All</li>
<li data-filter=".filter-marine-life">Marine Life</li>
<li data-filter=".filter-reef">Reef &amp; Seascape</li>
<li data-filter=".filter-dive">Dive Moments</li>
</ul>
<div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-marine-life">
<div class="portfolio-content h-100">
<img alt="Underwater marine life photograph" class="img-fluid" src="assets/img/portfolio/underwater-1.jpg"/>
<div class="portfolio-info">
<h4>Marine Life I</h4>
<p>Underwater photography by Yiğit Küçükçınar</p>
<a class="glightbox preview-link" data-gallery="underwater-gallery" href="assets/img/portfolio/underwater-1.jpg" title="Marine Life I"><i class="bi bi-zoom-in"></i></a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-reef">
<div class="portfolio-content h-100">
<img alt="Underwater reef photograph" class="img-fluid" src="assets/img/portfolio/underwater-2.jpg"/>
<div class="portfolio-info">
<h4>Reef Scene I</h4>
<p>Colors, textures and silence below the surface</p>
<a class="glightbox preview-link" data-gallery="underwater-gallery" href="assets/img/portfolio/underwater-2.jpg" title="Reef Scene I"><i class="bi bi-zoom-in"></i></a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-dive">
<div class="portfolio-content h-100">
<img alt="Scuba diving underwater photograph" class="img-fluid" src="assets/img/portfolio/underwater-3.jpg"/>
<div class="portfolio-info">
<h4>Dive Moment I</h4>
<p>Scenes from dives and underwater exploration</p>
<a class="glightbox preview-link" data-gallery="underwater-gallery" href="assets/img/portfolio/underwater-3.jpg" title="Dive Moment I"><i class="bi bi-zoom-in"></i></a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-marine-life">
<div class="portfolio-content h-100">
<img alt="Underwater fish photograph" class="img-fluid" src="assets/img/portfolio/underwater-4.jpg"/>
<div class="portfolio-info">
<h4>Marine Life II</h4>
<p>Close encounters with life underwater</p>
<a class="glightbox preview-link" data-gallery="underwater-gallery" href="assets/img/portfolio/underwater-4.jpg" title="Marine Life II"><i class="bi bi-zoom-in"></i></a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-reef">
<div class="portfolio-content h-100">
<img alt="Underwater seascape photograph" class="img-fluid" src="assets/img/portfolio/underwater-5.jpg"/>
<div class="portfolio-info">
<h4>Seascape I</h4>
<p>Light, depth and movement underwater</p>
<a class="glightbox preview-link" data-gallery="underwater-gallery" href="assets/img/portfolio/underwater-5.jpg" title="Seascape I"><i class="bi bi-zoom-in"></i></a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-dive">
<div class="portfolio-content h-100">
<img alt="Diver underwater photograph" class="img-fluid" src="assets/img/portfolio/underwater-6.jpg"/>
<div class="portfolio-info">
<h4>Dive Moment II</h4>
<p>Memories from the underwater world</p>
<a class="glightbox preview-link" data-gallery="underwater-gallery" href="assets/img/portfolio/underwater-6.jpg" title="Dive Moment II"><i class="bi bi-zoom-in"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>