<section class="resume section" id="resume">
<div class="container section-title" data-aos="fade-up">
<h2>Resume</h2>
<p>
      My background combines software development, enterprise integration, airport systems, travel technology and civil engineering.
    </p>
</div>
<div class="container">
<div class="row">
<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
<h3 class="resume-title">Summary</h3>
<div class="resume-item pb-0">
<h4>Yiğit Küçükçınar</h4>
<p>
<em>
              Java Software Developer focused on backend engineering, clean architecture, system integration and enterprise applications.
              Experienced with Java, Spring Boot, Angular, OpenAPI, AWS, Kubernetes and database-backed systems.
            </em>
</p>
<ul>
<li>Istanbul, Türkiye</li>
<li><a href="mailto:yigitkucukcinar@hotmail.com">yigitkucukcinar@hotmail.com</a></li>
<li><a href="https://github.com/giginar" rel="noopener noreferrer" target="_blank">github.com/giginar</a></li>
<li><a href="https://www.linkedin.com/in/yigit-kucukcinar/" rel="noopener noreferrer" target="_blank">LinkedIn Profile</a></li>
</ul>
</div>
<h3 class="resume-title">Education</h3>
<div class="resume-item">
<h4>Information Technology Master's</h4>
<h5>Oct 2020 - Sep 2021</h5>
<p><em>Sabancı University, Istanbul, Türkiye</em></p>
<p>GPA: 4.00</p>
</div>
<div class="resume-item">
<h4>Civil Engineering Master's</h4>
<h5>Sep 2012 - Aug 2013</h5>
<p><em>Università di Bologna, Bologna, Italy</em></p>
</div>
<div class="resume-item">
<h4>Civil Engineering Bachelor's</h4>
<h5>Sep 2007 - Aug 2012</h5>
<p><em>Yıldız Technical University, Istanbul, Türkiye</em></p>
</div>
<div class="resume-item">
<h4>Civil Engineering Erasmus Exchange Program</h4>
<h5>Sep 2009 - Jul 2010</h5>
<p><em>Universidad de Granada, Granada, Spain</em></p>
</div>
</div>
<div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
<h3 class="resume-title">Professional Experience</h3>
<div class="resume-item">
<h4>Java Software Developer</h4>
<h5>Sep 2024 - Present</h5>
<p><em>adesso Turkey, Istanbul, Türkiye</em></p>
<ul>
<li>Working on the Generali Insurance Evolution Project.</li>
<li>Using Java 21, Angular 17, Spring Boot, OpenAPI, AWS, Kubernetes and DynamoDB.</li>
<li>Developing backend services and frontend integrations for insurance tarification workflows.</li>
</ul>
</div>
<div class="resume-item">
<h4>Software Development Engineer</h4>
<h5>Jul 2022 - Sep 2024</h5>
<p><em>Amadeus IT, Istanbul, Türkiye</em></p>
<ul>
<li>Worked on ESB systems with Java, Apache Camel, AMQ, Zookeeper, JBoss, Groovy, Scala and Apache Avro.</li>
<li>Contributed to AODB/RMS and PROPworks projects using Java, Maven, Hibernate, Spring, SQL, Oracle and Angular.</li>
<li>Collaborated daily with international Scrum teams in Singapore and Orlando.</li>
</ul>
</div>
<div class="resume-item">
<h4>Java Software Developer</h4>
<h5>Aug 2021 - Jun 2022</h5>
<p><em>Etstur, Istanbul, Türkiye</em></p>
<ul>
<li>Worked on Altar Customer Services, a customer service application for email and telephone requests.</li>
<li>Used Java, Spring, Maven, SQL, JavaScript, jQuery, HTML and CSS.</li>
</ul>
</div>
<div class="resume-item">
<h4>Civil Engineering &amp; Marine Construction Background</h4>
<h5>2013 - 2020</h5>
<p><em>Aras Marine Construction CO. &amp; ARTI Proje Consulting Ltd.</em></p>
<ul>
<li>Worked as Tendering Engineer, Technical Manager, Technical Office Chief and Design Engineer.</li>
<li>Managed technical planning, reporting, project design, cost preparation and client communication for marine construction projects.</li>
</ul>
</div>
</div>
</div>
</div>
</section>